*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.admin-login{
    /* at the far end of the page: */
    position: relative;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 12px;
    color: #cfcfcf;
    text-decoration: none;
}