* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page {
    padding: 0.7em;
    background-color: #313233;
    height: 100vh;
    width: 100vw;
    color: #cfcfcf;
    text-align: center;
}

.title {
    margin: auto;
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    transform: translate(-50%, -50%);
}

.register {
    text-decoration: none;
    color: #cfcfcf;
    background-color: #bfbc8c;
    width: 70px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
    color: #313233;
    cursor: pointer;
}

.buttons :hover {
    background-color: #7af59d;
}

.admin-login{
    /* at the far end of the page: */
    position: relative;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 12px;
    color: #cfcfcf;
    text-decoration: none;
}